body {
  background-color: black;
  margin: 0;
  padding: 0;
}

#app {
  /* how to center, use a grid */
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: rgb(10, 10, 10);
}

#logger {
  overflow: hidden;
  height: 5em;
}

[v-cloak] {
  display: none;
}

.tic-tac-toe {
  display: inline-block;
  margin: 2em;
  padding: 4em;
  border: 1em solid rgb(20, 20, 20);
  border-radius: 4em;
}

.ttt-cell {
  display: table-cell;
  background: rgb(20, 20, 20);
  border: 1px solid rgb(200, 200, 200);
  border-radius: 1em;
  color: rgb(200, 200, 200);
  width: 2em;
  height: 2em;
  text-align: center;
  vertical-align: middle;
  cursor: crosshair;
  font-size: 2em;
  margin: 1em;
}

.ttt-cell:focus {
  background: rgb(80, 80, 80);
}
