<!DOCTYPE html>
<html>

<head>
    <title>Vue 3 Basics</title>
    <script src="https://unpkg.com/vue@next"></script>
    <style>
        .box {
            height: 20px;
            background-color: red;
            margin: 2pt;
            display: block;
        }

        [v-cloak] {
            display: none
        }
    </style>
</head>

<body>
    <div id="app" v-cloak>
        <input @keyup.space="greet(greeting)"  @keyup.enter="greet(`hello ${greeting}`)" v-model="greeting" />
        <button @click="toggleBox">Toggle Box</button>
        <div v-if="showBox" class="box">1</div>
    </div>
    <script>
        let app = Vue.createApp({
            data: function () {
                return {
                    greeting: "your test awaits you",
                    showBox: false,
                }
            },
            methods: {
                toggleBox() { this.showBox = !this.showBox },
                greet(input1) { 
                    console.log(input1);
                },
            }
        })
        app.mount("#app")
    </script>
</body>

</html>