#logger {
  overflow: hidden;
  height: 5em;
}
input {
  margin: 10px;
  display: block;
}
[v-cloak] {
  display: none;
}

.tic-tac-toe {
  display: inline-block;
  margin: 2pt;
  padding: 4pt;
  border: 4pt solid blue;
}

.ttt-cell {
  display: inline-block;
  background: rgb(20, 20, 20);
  border: 1px solid white;
  color: white;
  width: 6em;
  height: 6em;
  text-align: center;
  vertical-align: middle;
  cursor: crosshair;
}

.ttt-cell:focus {
  background: rgb(80, 80, 80);
}
