/* import css */
@import "https://unpkg.com/@picocss/pico@latest/css/pico.min.css";

:root {
  --color-blue: hsl(188, 63%, 40%);
  --border-color-dark: hsl(206, 40%, 10%);
  --border-color-lite: hsl(206, 40%, 60%);
  --primary-color: var(--color-blue);
  --secondary-color: hsl(191, 40%, 52%);
  --white-text: white;
  --black-text: black;
  --radius: 0.5em;
  --insert-color: var(--color-blue);
  --delete-color: hsl(10, 100%, 20%);
  --delete-color-intense: hsl(0, 100%, 50%);
  --border-color-intense: hsl(206, 100%, 50%);
  --color-delta: hsl(206, 100%, 50%);
}

@media (prefers-color-scheme: dark) {
  :root {
    --text-color: var(--white-text);
  }
}

@media (prefers-color-scheme: light) {
  :root {
    --text-color: var(--black-text);
  }
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

#app {
  width: 100% !important;
  max-width: 1200px;
}

.logo {
  background-size: contain;
  width: 96px;
  height: 96px;
  font-size: calc(96px / 2);
  line-height: 96px;
  background-color: var(--primary-color);
  color: var(--white-text);
  outline: 1px solid var(--secondary-color);
  margin: 1em;
  text-align: center;
  border-radius: 50%;
}

button {
  background-color: var(--primary-color);
}

.w-6 {
  width: 1.5em;
}

.h-6 {
  height: 1.5em;
}
