/* import css */
@import "https://unpkg.com/@picocss/pico@latest/css/pico.min.css";

* {
  --border-color: hsl(206, 40%, 10%);
  --primary-color: hsl(188, 63%, 40%);
  --secondary-color: hsl(191, 40%, 52%);
  --white-text: white;
  --radius: 0.5em;
}

body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 1em;
}

.logo {
  background-size: contain;
  width: 96px;
  height: 96px;
  font-size: calc(96px / 2);
  line-height: 96px;
  background-color: var(--primary-color);
  color: var(--white-text);
  outline: 1px solid var(--secondary-color);
  margin: 1em;
  text-align: center;
  border-radius: 50%;
}
